# Configuration file for all the expect scripts inside the expect folder
#
# This file is sourced in any of the Expect script files. The main idea is to
# replace static arguments by variables inside this file, so we can reduce
# the number of arguments.
#
# To define a new configurtion variable:
# set <var name> <var content>
#
# Some variables can be changed by another script. To do it in a easy way, any
# varible whose definition contains %<value>% is intended to be replaced by a
# valid string.

# Timeout for individual commands in Expect
set G_EXPECT_CFG_TIMEOUT 20

# Timeout between characters when sending commands to the serial port
set G_EXPECT_CFG_INTERCHARTIMEOUT .1

# TFTP IP address
set G_EXPECT_CFG_TFTPADDR 172.30.4.69
# Log file path
set G_EXPECT_CFG_LOGFILEPATH /tmp/mch_testreports/

# NTP server
set G_EXPECT_NTPADDR 172.16.6.38

